/* SCSS HEX */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.inside-container {
  margin: 7vh 8vw 0 7vw;
  position: relative;
  height: 85vh;
}

.hello {
  font-weight: 800;
  font-size: 4.4vw;
  cursor: default;
  color: #e15554;
  text-align: left;
  margin-left: -0.3vw;
  text-shadow: 0 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}

.adam {
  font-weight: 800;
  color: #e15554;
  font-size: 1vw;
  cursor: default;
  margin: -1 0 0 0;
  text-shadow: 0 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
}

.greeting {
  font-size: 1.5vw;
  color: #ffffff;
  position: absolute;
  top: 35%;
  font-weight: 300;
}

body,
html {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

.child {
  scroll-snap-align: start;
}

#container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #ffffff;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 65vh 25vh 25vh 50vh 25vh 25vh 50vh 25vh 25vh 50vh 25vh 25vh 60vh 15vh;
  grid-template-areas: "header header" "home-1 home-image" "home-1 inverse-1" "home-2 inverse-2" "inverse-image inverse-2" "wiener-1 inverse-2" "wiener-2 inverse-3" "wiener-2 wiener-image" "wiener-2 tikhonov-1" "wiener-3 tikhonov-2" "tikhonov-image tikhonov-2" "post-1 tikhonov-2" "post-2 tikhonov-3" "post-2 post-image" "footer footer";
}

.card {
  background: #404040;
}

.image {
  background-color: #ffffff;
}

#header {
  grid-area: header;
  scroll-margin-top: 0.5vw;
  margin: 0.5vw 0.5vw 0.25vw 0.5vw;
  border-radius: 0.8vw 0.8vw 0.8vw 0.8vw;
  display: flex;
  align-items: center;
  cursor: default;
}
#header p {
  font-size: 1.6vw;
  font-weight: 800;
  text-shadow: 0 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
}
#header #first {
  color: #e15554;
  margin-left: 7vw;
}
#header #second {
  color: #e1bc29;
  margin-left: 26vw;
}
#header #third {
  color: #449900;
  margin-left: 7vw;
}
#header #fourth {
  color: #4392f1;
  margin-left: 7vw;
}
#header #fifth {
  color: #933982;
  margin-left: 7vw;
}

#home-1 {
  grid-area: home-1;
  margin: 0.25vw 0.25vw 0 0.5vw;
  border-radius: 0.8vw 0.8vw 0 0;
}
#home-1 #github {
  height: 2.4vw;
  width: 20vw;
  position: absolute;
  top: 77%;
  display: flex;
  justify-content: left;
  align-content: center;
  margin: 8vh 0 0 0;
}
#home-1 #github img {
  max-height: 2.4vw;
}
#home-1 #github p {
  font-family: "Nunito", sans-serif;
  font-size: 1vw;
  color: #ffffff;
  margin: 0 0 0 1vw;
}
#home-1 #github p span {
  color: #e15554;
}
#home-1 #email {
  height: 2.4vw;
  width: 18vw;
  position: absolute;
  top: 77%;
  display: flex;
  justify-content: left;
  align-content: center;
  margin: 8vh 0 0 0;
}
#home-1 #email img {
  max-height: 2.4vw;
}
#home-1 #email p {
  font-family: "Nunito", sans-serif;
  font-size: 1vw;
  color: #ffffff;
  margin: 0 0 0 1vw;
}
#home-1 #email p span {
  color: #e15554;
}

#home-2 {
  grid-area: home-2;
  margin: 0 0.25vw 0.25vw 0.5vw;
  border-radius: 0 0 0.8vw 0.8vw;
}
#home-2 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-2 a img {
  height: 30%;
  width: 30%;
}

#home-image {
  grid-area: home-image;
  margin: 0.25vw 0.5vw 0.25vw 0.25vw;
  display: flex;
  justify-items: center;
  align-items: center;
}
#home-image img {
  height: 100%;
  width: auto;
  margin: auto;
  border-radius: 0.8vw 0.8vw 0.8vw 0.8vw;
}

#inverse-1 {
  grid-area: inverse-1;
  margin: 0.25vw 0.5vw 0 0.25vw;
  border-radius: 0.8vw 0.8vw 0 0;
}
#inverse-1 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#inverse-1 a img {
  height: 30%;
  width: 30%;
}

#inverse {
  grid-area: inverse-2;
  margin: 0 0.5vw 0 0.25vw;
}
#inverse .inside-container {
  position: relative;
  height: 95vh;
}
#inverse .inside-container #inverse_head {
  color: #e1bc29;
  font-size: 4vw;
  font-weight: 800;
  position: absolute;
  top: 8%;
  cursor: default;
  text-shadow: 0 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}
#inverse .inside-container #inverse_text {
  font-size: 1.5vw;
  color: #ffffff;
  position: absolute;
  top: 30%;
  font-weight: 300;
}
#inverse .inside-container .read {
  height: 3vw;
  width: 15vw;
  background-color: #ffffff;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.6vw;
  position: absolute;
  top: 75%;
}
#inverse .inside-container .play {
  height: 3vw;
  width: 12vw;
  background-color: #ffffff;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.6vw;
  position: absolute;
  top: 75%;
  left: 17vw;
}

#inverse-3 {
  grid-area: inverse-3;
  margin: 0 0.5vw 0.25vw 0.25vw;
  border-radius: 0 0 0.8vw 0.8vw;
}
#inverse-3 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#inverse-3 a img {
  height: 30%;
  width: 30%;
}

#inverse-image {
  grid-area: inverse-image;
  margin: 0.25vw 0.25vw 0.25vw 0.5vw;
  display: flex;
  justify-items: center;
  align-items: center;
}
#inverse-image img {
  height: 100%;
  width: auto;
  margin: auto;
  border-radius: 0.8vw 0.8vw 0.8vw 0.8vw;
}

#wiener-1 {
  grid-area: wiener-1;
  margin: 0.25vw 0.25vw 0 0.5vw;
  border-radius: 0.8vw 0.8vw 0 0;
}
#wiener-1 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wiener-1 a img {
  height: 30%;
  width: 30%;
}

#wiener {
  grid-area: wiener-2;
  margin: 0 0.25vw 0 0.5vw;
}
#wiener .inside-container {
  position: relative;
  height: 95vh;
}
#wiener .inside-container #wiener_head {
  color: #449900;
  font-size: 4vw;
  font-weight: 800;
  position: absolute;
  top: 8%;
  cursor: default;
  text-shadow: 0 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}
#wiener .inside-container #wiener_text {
  font-size: 1.5vw;
  color: #ffffff;
  position: absolute;
  top: 30%;
  font-weight: 300;
}
#wiener .inside-container .read {
  height: 3vw;
  width: 15vw;
  background-color: #ffffff;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.6vw;
  position: absolute;
  top: 75%;
}

#wiener-3 {
  grid-area: wiener-3;
  margin: 0 0.25vw 0.25vw 0.5vw;
  border-radius: 0 0 0.8vw 0.8vw;
}
#wiener-3 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wiener-3 a img {
  height: 30%;
  width: 30%;
}

#wiener-image {
  grid-area: wiener-image;
  margin: 0.25vw 0.5vw 0.25vw 0.25vw;
  display: flex;
  justify-items: center;
  align-items: center;
}
#wiener-image img {
  height: 100%;
  width: auto;
  margin: auto;
  border-radius: 0.8vw 0.8vw 0.8vw 0.8vw;
}

#tikhonov-1 {
  grid-area: tikhonov-1;
  margin: 0.25vw 0.5vw 0 0.25vw;
  border-radius: 0.8vw 0.8vw 0 0;
}
#tikhonov-1 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tikhonov-1 a img {
  height: 30%;
  width: 30%;
}

#tikhonov {
  grid-area: tikhonov-2;
  margin: 0 0.5vw 0 0.25vw;
}
#tikhonov .inside-container {
  position: relative;
  height: 95vh;
}
#tikhonov .inside-container #tikhonov_head {
  color: #4392f1;
  font-size: 4vw;
  font-weight: 800;
  position: absolute;
  top: 8%;
  cursor: default;
  text-shadow: 0 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}
#tikhonov .inside-container #tikhonov_text {
  font-size: 1.5vw;
  color: #ffffff;
  position: absolute;
  top: 30%;
  font-weight: 300;
}
#tikhonov .inside-container .read {
  height: 3vw;
  width: 15vw;
  background-color: #ffffff;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.6vw;
  position: absolute;
  top: 75%;
}
#tikhonov .inside-container .play {
  height: 3vw;
  width: 12vw;
  background-color: #ffffff;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.6vw;
  position: absolute;
  top: 75%;
  left: 17vw;
}

#tikhonov-3 {
  grid-area: tikhonov-3;
  margin: 0 0.5vw 0.25vw 0.25vw;
  border-radius: 0 0 0.8vw 0.8vw;
}
#tikhonov-3 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tikhonov-3 a img {
  height: 30%;
  width: 30%;
}

#tikhonov-image {
  grid-area: tikhonov-image;
  margin: 0.25vw 0.25vw 0.25vw 0.5vw;
  display: flex;
  justify-items: center;
  align-items: center;
}
#tikhonov-image img {
  height: 100%;
  width: auto;
  margin: auto;
  border-radius: 0.8vw 0.8vw 0.8vw 0.8vw;
}

#post-1 {
  grid-area: post-1;
  margin: 0.25vw 0.5vw 0 0.25vw;
  border-radius: 0.8vw 0.8vw 0 0;
}
#post-1 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#post-1 a img {
  height: 30%;
  width: 30%;
}

#post {
  grid-area: post-2;
  margin: 0 0.5vw 0.25vw 0.25vw;
  border-radius: 0 0 0.8vw 0.8vw;
}
#post .inside-container {
  position: relative;
  height: 80vh;
}
#post .inside-container #post_head {
  color: #933982;
  font-size: 4vw;
  font-weight: 800;
  position: absolute;
  top: 9%;
  cursor: default;
  text-shadow: 0 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
}
#post .inside-container #post_text {
  font-size: 1.5vw;
  color: #ffffff;
  position: absolute;
  top: 31%;
  font-weight: 300;
}
#post .inside-container .read {
  height: 3vw;
  width: 15vw;
  background-color: #ffffff;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.6vw;
  position: absolute;
  top: 75%;
}

#post-image {
  grid-area: post-image;
  margin: 0.25vw 0.25vw 0.25vw 0.5vw;
  display: flex;
  justify-items: center;
  align-items: center;
}
#post-image img {
  height: 100%;
  width: auto;
  margin: auto;
  border-radius: 0.8vw 0.8vw 0.8vw 0.8vw;
}

#footer {
  grid-area: footer;
  margin: 0.25vw 0.5vw 0.5vw 0.5vw;
  border-radius: 0.8vw 0.8vw 0.8vw 0.8vw;
}
#footer a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer a img {
  height: 50%;
  width: 50%;
}

[data-scroll] {
  transition: opacity 1s;
}

[data-scroll=in] {
  opacity: 1;
}

[data-scroll=out] {
  opacity: 0;
}

#container::-webkit-scrollbar {
  display: none;
}

#container {
  -ms-overflow-style: none;
}

#container {
  scrollbar-width: none;
}

@media (orientation: portrait) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 65vh 25vh 25vh 50vh 25vh 25vh 50vh 25vh 25vh 60vh 15vh;
    grid-template-areas: "header" "home-1" "home-1" "inverse-2" "inverse-2" "inverse-2" "wiener-2" "wiener-2" "wiener-2" "post-2" "post-2" "footer";
  }
  #container #header {
    margin: 1vw 1vw 0.5vw 1vw;
    border-radius: 2vw;
  }
  #container #home-1 {
    margin: 1vw;
    border-radius: 2vw;
  }
  #container #home-image {
    display: none;
  }
  #container #home-2 {
    display: none;
  }
  #container #inverse-1 {
    display: none;
  }
  #container #inverse {
    margin: 1vw;
    border-radius: 2vw;
  }
  #container #inverse-image {
    display: none;
  }
  #container #inverse-3 {
    display: none;
  }
  #container #wiener-1 {
    display: none;
  }
  #container #wiener {
    margin: 1vw;
    border-radius: 2vw;
  }
  #container #wiener-image {
    display: none;
  }
  #container #wiener-3 {
    display: none;
  }
  #container #post-1 {
    display: none;
  }
  #container #post {
    margin: 1vw;
    border-radius: 2vw;
  }
  #container #post-image {
    display: none;
  }
  #container #footer {
    margin: 0.5vw 1vw 1vw 1vw;
    border-radius: 2vw;
  }
  #header p {
    font-size: 4.5vw;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }
  #header #first {
    display: none;
  }
  #header #second {
    margin-left: 7vw;
  }
  #header #third {
    margin-left: 7vw;
  }
  #header #fourth {
    margin-left: 7vw;
  }
  #home-1 .hello {
    font-size: 20vw;
    margin-left: -1vw;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }
  #home-1 .adam {
    font-size: 3.5vw;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  #home-1 .greeting {
    top: 30%;
    font-size: 4.5vw;
  }
  #home-1 #github {
    height: 9vw;
    width: 70vw;
  }
  #home-1 #github img {
    max-height: 9vw;
  }
  #home-1 #github p {
    font-size: 3.5vw;
  }
  #home-1 #email {
    height: 9vw;
    width: 70vw;
  }
  #home-1 #email img {
    max-height: 9vw;
  }
  #home-1 #email p {
    font-size: 3.5vw;
  }
  #inverse .inside-container #inverse_head {
    font-size: 12vw;
  }
  #inverse .inside-container #inverse_text {
    font-size: 4.5vw;
  }
  #inverse .inside-container .read {
    width: 32vw;
    height: 10vw;
    font-size: 4vw;
    font-weight: 600;
    border-radius: 2vw;
  }
  #inverse .inside-container .play {
    width: 32vw;
    height: 10vw;
    font-size: 4vw;
    font-weight: 600;
    border-radius: 2vw;
    left: 40vw;
  }
  #wiener .inside-container #wiener_head {
    font-size: 12vw;
  }
  #wiener .inside-container #wiener_text {
    font-size: 4.5vw;
  }
  #wiener .inside-container .read {
    width: 45vw;
    height: 10vw;
    font-size: 4vw;
    font-weight: 600;
    border-radius: 2vw;
  }
  #post .inside-container #post_head {
    font-size: 12vw;
  }
  #post .inside-container #post_text {
    font-size: 4.5vw;
  }
  #post .inside-container .read {
    width: 45vw;
    height: 10vw;
    font-size: 4vw;
    font-weight: 600;
    border-radius: 2vw;
  }
}/*# sourceMappingURL=main.css.map */